PORT=8080

DB_HOST=localhost
DB_USER=atmiykkq
DB_PASSWORD=
DB_NAME=atmiykkq_atmiyayuvakk

JWT_SECRET=rKc53w39uH59326Fe4Ky
JWT_EXPIRES_IN=365d
ENCRYPTION_KEY=haridham

# Path to firebase service-account JSON
FIREBASE_SA_PATH=./firebase-service-account.json
FIREBASE_PROJECT_ID=avdyuva-dadb4

# Filesystem path where profile JPGs are stored (relative or absolute)
PROFILES_DIR=../profiles
